.header{
    background-image: url("./images/Hero-bg.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0%; 
    padding: 50px;;
}

.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.Logo{
    color: #4E47FF ;
    font-size: 34px;
    font-weight: bolder;
}
.text-primary{
    color: #4E47FF;
}
nav{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.btn{
    background-color: #4E47FF;
    color: whitesmoke;
    font-weight: bold;
    padding: 16px 35px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: aliceblue;
    color: black;
}
.banner{
    margin-left: 300px;
    margin-top: 200px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.banner-content{
    max-width: 905px;
    font-weight: bolder;
    font-size: 75px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
}
.btn-aling{
    margin-right: 250px;
}