.header{
    background-image: url("./images/Hero-bg.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 50px;
}
.Logo{
    color: #4E47FF ;
    font-size: 34px;
    font-weight: bolder;
}
.text-primary{
    color: #4E47FF;
}
nav{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.btn{
    background-color: #4E47FF;
    color: whitesmoke;
    font-weight: bold;
    padding: 16px 35px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: aliceblue;
    color: black;
}
.banner{
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.banner-content{
    margin: 0 auto;
    max-width: 905px;
    font-weight: bolder;
    font-size: 75px;
    padding-bottom: 100px;
}


/*main styles*/

/*Action Section*/
.action{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}
.action-head{
    font-size: 42px;
    font-weight: 800;
}
.action-decsribe{
    font-size: 20px;
    font-weight: 50 ;
    color: rgb(78, 75, 75);
    margin-bottom: 50px;
}
.edit-image{
    border-radius: 30px;
}


/*Joined Section*/
.second-background{
    background-color: #cfcfe5;
}
.section-title{
    font-size: 35px;
    font-weight: bold;

}
.join{
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    margin-top: 130px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.item-title{
    font-size: 80px;
    font-weight: 600;
}
.join-items{
    display: flex;
    justify-content: space-around;
}
.about-item{
    margin: auto;
}
.item-info{
    font-size: 20px;
    color:rgb(62, 59, 59) ;
}
.centerd{
    text-align: center;
}


/*Review Section*/
.user{
    margin-top: 150px;
}
.reviews{
    justify-content: space-around;
    display: flex;
}
.review-section{
    background-color: whitesmoke;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}
.review-title{
    font-size: 20px;
    font-weight: bold;
}
.user-comment{
    display: inline;
    color: rgb(78, 75, 75);
}
.user-image{
    border-radius: 50px;
    margin-right: 10px;
    height: 50px;
}
.user-details{
    color: rgb(78, 75, 75);
    display: block;
}
.user-id{
    margin-top: 20px;
    text-align: justify;
    align-items: center;
    max-width:100px;
    display: flex;
}
.reviewer-name{
    display: inline;
    margin-top: 20px;
    font-size: medium;
    font-weight: 700;
    color: rgb(78, 75, 75)
}
.text-color{
    color:rgb(78, 75, 75) ;
}
/* Footer*/
.background{
    background-color: rgb(223, 226, 235);
}
.footer_column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 230px;
    gap: 100px;
}
.footer-says{
    font-weight: bolder;
    font-size: 75px;
}
.info{

}
footer input,footer textarea{
    height: 34px;
    width: 100%;
    border-radius: 10px;
    color: rgb(62, 59, 59);
    background-color: white;
    border-color: whitesmoke;
    padding: 10px 20px;
    margin-bottom: 24px;
}
footer textarea{
    height: 64px;
    width: 100%;
    border-radius: 10px;
    color: rgb(62, 59, 59);
    background-color: white;
    border-color: whitesmoke;
    padding: 10px 20px;
    margin-bottom: 24px;
}

.final-footer{
    display: block;
    text-align: center;
}
.footer-logo{
    padding-top: 100px;
    margin: 0 auto;
    max-width: 905px;
    font-weight: bolder;
    font-size: 75px;
}
.pages{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 50px;
    padding-bottom: 100px;
}
li a{
    text-decoration: none;
}